/* ContactUs  */


/* main Форма Текст */
.form-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #C29974;
}

/* main Форма общее */

/* Форма */
.form-section {
    margin-bottom: 60px;
}
.form-section-wrapper {
    display: flex;
}
.contact-form {
    padding: 42px 40px;
    background-color: #7d97da33;
}
.form-wrapper {
    display: flex;
}
.form-block-wrapper {
    display: flex;
}
.form-name-wrapper {
    display: flex;
    flex-direction: column;
}
.lable-name {
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 19px;
}
.input-name {
    padding: 0px 20px;
    width: 600px;
    height: 50px;
    border: 1px solid #00000033;
   }
.input-name:hover,
.input-name:focus {
    border: 2px solid #0000004d;
    outline: 0px;
}
.form-Phone-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.lable-phone {
    margin-bottom: 3px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 19px;
}
.input-phone {
    padding: 0px 20px;
    width: 290px;
    height: 50px;
    border: 1px solid #00000033;
}
.input-phone:hover,
.input-phone:focus {
    border: 2px solid #0000004d;
    outline: 0px;
}
.form-Email-wrapper {
    display: flex;
    flex-direction: column;
}
.lable-email {
    margin-bottom: 3px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 19px;
}
.input-email {
    padding: 0px 20px;
    width: 290px;
    height: 50px;
    border: 1px solid #00000033;
}
.input-email:hover,
.input-email:focus {
    border: 2px solid #0000004d;
    outline: 0px;
}
.form-message-wrapper {
    display: flex;
    flex-direction: column;
}
.lable-message {
    margin-bottom: 3px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 19px;
}
.input-message {
    padding: 0px 20px;
    padding-top: 14px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 20px;
    width: 600px;
    height: 150px;
    border: 1px solid #00000033;
}
.input-message:hover,
.input-message:focus {
    border: 2px solid #0000004d;
    outline: 0px;
}
.checkbox-wrapper {
    display: flex;
    margin-top: 20px;
    margin-bottom: 17px;
}
.checkbox-wrapper input {
    margin-right: 15px;
}
.input-checkbox {
    margin-left: 34px;
    font-size: 14px;
    line-height: 19px;
}
/* Чек-бокс */
.checkbox-label{
    position: relative;
}
.checkbox-label::before {
    content: '';
    position: absolute;
    left: -34px;
    top: -2px;
    width: 19px;
    height: 19px;    
    border: 2px solid #C29974;
    border-radius: 3px;
    background-color: white;

}
.checkbox-label::after {
    content: '';
    position: absolute;
    left: -31px;
    top: -1px;
    width: 15px;
    height: 16px;  
    background-image: url(../img/checkbox/Vector\ 1.svg);
    opacity: 0;
    background-repeat: no-repeat;
}

.checkbox-input:checked + .checkbox-label::after {
    opacity: 1;
}
.checkbox-input:disabled + .checkbox-label::before {
    opacity: 1;
}
/* .checkbox-input:checked + .checkbox-label {
    text-decoration-line: underline;
} */

/* Текст */
.text-wrapper {
    margin-left: 120px;
    width: 380px;
}
.section-text {
    margin: 20px 0px;
}
.button-form {
    border: none;
    width: 106px;
    height: 40px;
}